.row{
  --bs-gutter-x: 0 !important;
}

.side-nav-image {
    background-image:  linear-gradient(90.14deg, rgba(93, 221, 213, 0.14) 0.13%, rgba(71, 4, 65, 0.39) 100%), url("https://res.cloudinary.com/duicqd6cu/image/upload/v1715047174/portfolio/9b215cc3cd0790cd65b790e3b5caa9b7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    position: relative;
    overflow: hidden;
    height: 100%;
}

    .dark-overlay{
      background-color: rgb(0 0 0 / 100%);
    }
  
    .blur{
      height: 40vh;
      background-color: rgb(0 0 0 / 17%);
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
    }

    /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .side-nav-image {
    background-image: linear-gradient(to top, rgba(93, 221, 213, 0.24) 0%, #176B87  100%);
    }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .side-nav-image {
    background-image: linear-gradient(to top, rgba(93, 221, 213, 0.24) 0%, #176B87  100%);
    
    }

    .nav-items-side{
      display: none !important;
    }
  
}
  
  